<h1>Users</h1>

<table>
  <tr>
    <th>image</th>
    <th>name</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td></td>
    <td><%= user.name %></td>
    <td><%= link_to 'show', user_path(user) %></td>
  </tr>
  <% end %>

</table>