<h1>welcome to Bookers !!</h1>

<% if user_signed_in? %>
  <div class="row"><%= link_to "Sign up", user_path(current_user) %></div>
  <div class="row"><%= link_to "login", user_path(current_user) %></div>
<% else %>
  <div class="row"><%= link_to "Sign up", new_user_registration_path%></div>
  <div class="row"><%= link_to "login", new_user_session_path%></div>
<% end %>

