<div class="row">
  <div class="col-md-6 offset-md-3">
    <div>
      <% @entries.each do |e| %>
        <strong>
          <%= attachment_image_tag e.user, :profile_image, :fill, 60, 60, fromat: 'jpeg', fallback: 'no-image-mini.jpg',size: '60x60'%>
          <%= e.user.name %>さん
        </strong>
      <% end %>
    </div>
    <div><%= render partial: "rooms/chat_area", locals: { messages: @messages, message: @message} %></div>
    <div><%= render partial: "rooms/chat_form", locals: { message: @message, room: @room } %></div>
</div>
