<div class="row">
  <div class="col-md-6 offset-md-3">
    <div><%= render partial: "rooms/chat_area", locals: { messages: @messages, message: @message} %></div>
    <div><%= render partial: "rooms/chat_form", locals: { message: @message, room: @room } %></div>
</div>
